---
import { Image } from 'astro:assets';
import { getImage } from '../lib/images';

interface Props {
  image?: string;
}

const { image = 'defy-woman-bg.png' } = Astro.props;
const src = getImage(image);
---

<section class="relative flex min-h-[85vh] items-end overflow-hidden bg-defy-dark">
  <Image
    src={src}
    alt="DEFY plastic and reconstructive surgery"
    class="hero-ken-burns absolute inset-0 h-full w-full object-cover object-top"
    widths={[800, 1200, 1600]}
    sizes="100vw"
    loading="eager"
    fetchpriority="high"
  />
  <div class="absolute inset-0 bg-gradient-to-t from-defy-dark/75 via-defy-dark/20 to-defy-dark/10"></div>
  <div class="absolute inset-0 bg-defy-rose-overlay/20"></div>
</section>